h2{
    font-size: 14px!important;
    padding-top:4px;;
}

th{
    font-size: 13px!important;
    padding-top:4px;;
}

td{
    font-size: 12px!important;
    padding-top:4px;
    vertical-align: middle;
}

strong{
    font-size: 13px!important;
}


table
{
    background: white;
}

button{
    font-size: 13px;
}