.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

.login-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}
button{
  font-size: 13px;
  width: 148.86px!important;
}